* {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}
a{
	color: inherit;
	text-decoration: none;
}
.medsos{
	padding: 5px 0;
	background-color: #0cc1d7;
}
.medsos ul li{
	display: inline-block;
	margin-right: 20px;
}
.container{
	width: 80%;
	margin: 0 auto;
}
.container:after{
	content: '';
	display: block;
	clear: both;
}
.facebook{
	width: 10px;
	height: 10px;
}
header h1{
	float: left;
	padding: 21px 0;
	color: #0cc1d7;
	font-size: 20px;
	justify-content: center;
	align-items: center;
}
header ul{
	float: right;
}
header ul li{
	display: inline-block;
}header ul li a{
	padding: 25px 20px;
	display: inline-block;
}
header ul li a:hover{
	background-color: #0cc1d7;
	color: #fff;
}
.activ{
	background-color: #0cc1d7;
	color: white;
}
.banner{
	height: 90vh;
	background-image: url('banner.png');
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 80px
}
.banner:after{
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,135,255,.6);
}
section{
	padding: 20px 0;
}
.banner h2{
	color: white;
	z-index: 1;
	padding: 20px 20px;
	border:4px solid white;
}
section h3{
	text-align: center;
	color: #148f77;
	padding: 20px;
}
.about p{
	word-spacing: 2px;
	color:#148f77;
	line-height: 30px;
	text-align: center;
}
.service{
	padding: 80px 0px;
}
.box{
	display: flex; 
}.box .col{
	width: 25%;
	padding: 20px;
	box-sizing: border-box;
}
.icon{
	width: 70px;
	height: 70px;
	border:1px solid;
	border-color: #148f77;
	border-radius: 50%;
	text-align: center;
	line-height: 70px;
	font-size: 20px;
	margin: 0 auto;
	padding-bottom: 5px;
}
.icon h1{
	font-size: 40px;
}
.icon:hover{
	background-color: #148f77;
}
.col h4{
	text-align: center;
	padding-top: 10px;
	color: #148f77;
	font-size: 50%;
}
footer{
	background-color: #333;
}footer p{
	padding: 15px 0;
	text-align: center;
	color: #fff;
	font-size: 10px;
}.bgloader{
	background-color: #eee;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999;
	display: flex;
	align-items: center;
	justify-content: center;
}.loader{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border:5px solid white;
	border-top-color: #148f77;
	border-right-color: #f63475;
	border-bottom-color: #f63475;
	animation: puter .9s linear infinite;
	display: flex;
	justify-content: center;
	align-items: center;
}
@keyframes pute{
	100%{
		transform: rotate(-360deg);
	}
}@keyframes puter{
	100%{
		transform: rotate(360deg);
	}
}
.loader2{
	width: 80%;
	height:80%;
	border:3px solid white;
	border-bottom-color: #148f77;
	border-radius: 50%;
	display: flex;

}
